---
layout: default
title: web development notes - Murat Çorlu
---

{% for post in site.posts %}
    <article>
        <header>
            <h1><a href="{{ post.url }}" rel="bookmark">
                {{ post.title|striptags }}
            </a> <time datetime="{{ post.date }}" pubdate>Posted on {{ post.date | date_to_string }}</time></h1>
        </header>

        <div class="body">
            {{ post.excerpt }}
        </div>

        {% if site.disqus_shortname %}<p>
            <a href="http://muratcorlu.com{{ post.url }}#disqus_thread">comments</a>
        </p>{% endif %}

    </article>
{% endfor %}

{% if site.disqus_shortname %}
<script type="text/javascript">
    var disqus_shortname = '{{ site.disqus_shortname }}';
    (function () {
        var s = document.createElement('script');
        s.async = true;
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.head || document.body).appendChild(s);
    }());
</script>
{% endif %}
